body {
  display: flex;
  flex-direction: column;
  background-color: #eee;
  font-family: 'Encode Sans SC', sans-serif;
}

.centered {
  display: flex;
  width: 800px;
  margin: 0 auto;
}

@media (min-width:320px)  { 
  .centered {
    width: 300px;
  }
}
@media (min-width:481px)  {
  .centered {
    width: 461px;
  }
}
@media (min-width:641px)  {
  .centered {
    width: 621px;
  }
}
@media (min-width:961px)  {
  .centered {
    width: 800px;
  }
}
@media (min-width:1025px) {
  .centered {
    width: 800px;
  }
}